@import url(https://fonts.google.com/specimen/Manrope);
* {
  margin: 0;
}
body {
  background-image: url("./images/bg-pattern.svg");
  background-size: cover;
  font-family: [Manrope];
  font-weight: 600, 800;
}
